[submodule "Foundry/lib/forge-std"]
	path = Foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryFundMe/lib/forge-std"]
	path = FoundryFundMe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryFundMe/lib/chainlink-brownie-contracts"]
	path = FoundryFundMe/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "FoundryFundMe/lib/ds-test"]
	path = FoundryFundMe/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "FoundryFundMe/lib/foundry-devops"]
	path = FoundryFundMe/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
